h1 {
 color: grey;
}

/* selector:
tag
id
class
 */

 table, th, td {
    border: 1px solid black;
  }

.img-1 {
    width: 150px
}
body {
    background-image: url("../img/smoking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #cccccc;
}